= form_for([current_user, current_user.relationships.build(followed_id: @user.id)],:url => user_relationship_path(@user.id) , remote: true) do |f|
  %div= f.hidden_field :followed_id
  = f.submit "フォロー", class: "btn btn-large btn-primary"
