= form_for([current_user, current_user.relationships.find_by(followed_id: @user.id)],:url => user_relationship_path(@user.id), html: { method: :delete }, remote: true) do |f|
  = f.submit "アンフォロー", class: "btn btn-large"
