- @user ||= current_user
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => following_user_path(@user)}
            フォロー
            %br
            %strong#following
              = @user.followed_users.count
        %li
          %a{:href => followers_user_path(@user)}
            フォロワー
            %br
            %strong#followers
              = @user.followers.count