%section= render 'shared/stats'

= link_to '感想を登録', brands_path, :class => "btn btn-primary active"

%br
%br

- impressions = current_user.feed.includes(:liquor)
= render partial: 'shared/impression_list', locals: { impressions: impressions }

